.headerWrapper {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

.appName {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 70px;
}